# Build folders
x64/
X64/
build/
Build/
*.sln
*.slnx

# Visual Studio
.vs/
.vscode/
*.vcxproj
*.vcxproj.user
*.vcxproj.filters

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Executables
*.exe
*.out

# OS specific
.DS_Store
Thumbs.db

# Editor backup files
*.swp
*.swo
*~